*{
   padding: 0;
   margin: 0; 
}
body{
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #7A294C;
}
main{
    width: 50%
}
section.app{
    background: linear-gradient(#FFA5AB, #DA627D);
    border-radius: 10px;
    border-color: none;
    margin: 10%;
    padding: 10%;
}
ul{
    list-style-type: none;
}
.container{
    min-width: 700px;
    display:flex;
    flex-direction: column;
}
